<div class="box subnav span-1">
    <ul>
        {% for page in pages("technology") if page.title and not page.hidden %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>