.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-block-start: $spatial-spacing;
    margin-block-end: $spatial-spacing;
}

.nav ul li {
    padding: 0 1em;
    margin-bottom: 0;
}

.nav {
    a {
        text-decoration: underline wavy;
    }
    
    a:hover{
        text-decoration: underline dashed;
    }
}

.nav-toggle {
    display: none;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}
