@use 'variables' as *;
@forward '../../node_modules/normalize.css/normalize';
@forward 'code';
@forward 'mobile-menu';
@forward 'blockquotes';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$standardfont: 'Roboto', sans-serif;
$headingfont: 'Open Sans', sans-serif; 


* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    max-width:767px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: $font-color;
    background-color: $background-color;
}



.main {
    flex: 1 0 auto;
    margin: 0 1rem;
}

.two-col-gallery {
    display: flex;
    flex-direction:row;
}
.two-col-item {
    flex-basis: 50%;
}

.header, .footer {
    flex: 0 0 auto;
    margin: 0 1rem;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: $font-alternative-color;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $accent-color;
}

.footer a {
    color: $font-color;
}
.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: $standardfont;
    line-height: 1.5rem;
    color: $font-color;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: $headingfont;
}

img {
    max-width: 100%;
}

a {
    color: $accent-color;
}

