{% include 'incl/header.twig' %}

<body {% if config.session.theme == "dark" %}
class="dark"
{% else %}
class="standard"
{% endif %}>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
        {% include 'incl/subpages.twig' %}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
